---
import Layout from '@/layouts/Layout.astro';
import siteData from '../../siteData.mjs';

const pageId = 'example',
  pageMeta = siteData[pageId],
  ldJSON = [
    {
      '@type': 'ListItem',
      position: 1,
      item: {
        '@id': `${import.meta.env.PUBLIC_ENVURL}`,
        name: 'HOME'
      }
    },
    {
      '@type': 'ListItem',
      position: 2,
      item: {
        '@id': `${import.meta.env.PUBLIC_ENVURL}${pageMeta.path}`,
        name: `${pageMeta.title}`
      }
    }
  ];
---

<Layout
  pageName={pageId}
  title={pageMeta.title}
  description={pageMeta.description}
  ogpImage={pageMeta.ogpImage}
  type={pageMeta.type}
  path={pageMeta.path}
  ldJSON={ldJSON}
>
  <main class="l-main p-page">
    <article>
      <section class="l-wrapper">
        <div class="l-container">
          <div class="l-inner">
            <div class="__block-1">
              <h1>{pageMeta.title}</h1>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</Layout>
