---
import Layout from '@/layouts/Layout.astro';
import siteData from '../../siteData.mjs';
import AppReact from '@/components/react/AppReact.tsx';

const pageId = 'home',
  pageMeta = siteData[pageId],
  ldJSON = [
    {
      '@type': 'ListItem',
      position: 1,
      item: {
        '@id': `${import.meta.env.PUBLIC_ENVURL}`,
        name: 'HOME'
      }
    }
  ];
---

<Layout
  pageName={pageId}
  title={pageMeta.title}
  description={pageMeta.description}
  ogpImage={pageMeta.ogpImage}
  type={pageMeta.type}
  path={pageMeta.path}
  ldJSON={ldJSON}
>
  <main class="l-main p-front-page p-page">
    <article>
      <section class="l-wrapper">
        <div class="l-container">
          <div class="l-inner">
            <div class="__block-1">
              <h2>トップページ</h2>
              <AppReact client:load />
              <div id="vue_app"></div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</Layout>

<style lang="scss" is:global></style>
